<ion-view view-title="Order Request">
  <ion-content>
    <div class="list card">
      <ion-item ng-repeat="order in orders | orderBy : '-timestamp'">
        <h2>Status - {{order.status}}</h2>
        <h2>{{order.grams}} grams of {{order.title}}</h2>
        <h3>Total Cost - {{order.total_cost | currency}}</h3>
        <p>Ordered - {{order.timestamp | date: 'medium'}}</p>
        <select ng-model="selected">
          <option>requested</option>
          <option>confirmed</option>
          <option>gathering</option>
          <option>in route</option>
          <option>delivered</option>
        </select>
        <button class="button button-small button-balanced" ng-click="updateStatus(order.id, selected)"> Update Status </button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
