<ion-view view-title="Product Detail">
  <ion-content>
    <div class="list card">

      <div class="item item-body">
        <div class="item">
          <img src="img/grower/{{grower.image_title}}">
        </div>

        <div class="item">
          <h1>{{grower.name}}</h1>
          <h2>{{grower.location}}</h2>
          <h2>{{grower.rate}} stars out of 5</h2>
        </div>

        <p>{{grower.description}}</p>

        <!--TODO: Add Area For Featured Product-->

      </div>
    </div>
  </ion-content>
</ion-view>
