<ion-view view-title='<img class="title-image" src="img/poppy_logo.jpg" width="123" height="43" />'>
  <ion-content>
    <div class="list card">
      <a ng-if='user.type == "producer"' class="button button-bar button-balanced" href="#/app/customer_orders"> View Order Request </a>

      <!-- TODO: Add User Stories Section Here -->
      <div class="item item-divider">
        Featured Grower:
      </div>
      <ion-item class="item-thumbnail-left item-body" ng-repeat="feat_grower in feat_growers" href="#/app/grower_detail/{{feat_grower.$id}}">
        <img src="img/{{feat_grower.image_title}}">
        <h2>{{feat_grower.name}}</h2>
        <p>{{feat_grower.description}}</p>
      </ion-item>
      <div class="item item-divider">
        Featured Product:
      </div>
      <ion-item class="item-thumbnail-left" ng-repeat="feat_strain in feat_strains" href="#/app/product_detail/{{feat_strain.$id}}">
        <img src="img/product/strains/{{feat_strain.image_title}}">
        <h2>{{feat_strain.title}}</h2>
        <p>Provided By: Gatson Growers</p>
        <p>Indica/Sativa ({{feat_strain.indica}}/{{feat_strain.sativa}})</p>
        <p>THC Level: {{feat_strain.thc_percentage}}% </p>
      </ion-item>
      <!-- TODO: Add Suggested Items Section Here -->
      <div class="item item-divider">
        Suggested Items
      </div>
      <ion-item class="item-thumbnail-left" ng-repeat="product in products" href="#/app/product_detail/{{product.$id}}">
        <img src="img/product/strains/{{product.image_title}}">
        <h2>{{product.title}}</h2>
        <p>Provided By: Gatson Growers</p>
        <p>Indica/Sativa ({{product.indica}}/{{product.sativa}})</p>
        <p>THC Level: {{product.thc_percentage}}% </p>
      </ion-item>
      <!-- Button to Browse Other Products -->
      <a class="button button-bar button-balanced" href="#/app/browse"> Browse Product </a>
    </div>
  </ion-content>
</ion-view>
