<ion-view view-title="Patient Profile">
  <ion-content>
    <div class="list card">

      <div class="item item-body">
        <div class="item">
          <img src="img/patient/generic_avatar.jpg">
        </div>

        <div class="item">
          <h1>{{patient.name}}</h1>
          <h2>{{patient.location}}</h2>
        </div>

        <div class="item">
          <p>About Me:</p>
          <p>{{patient.about}}</p>
        </div>

        <!--TODO: Add Area For Featured Product-->

      </div>
    </div>
  </ion-content>
</ion-view>
